#home {
    background-image: url(./assets/wallpaperflare.com_wallpaper.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#about {
    background-color: white;
    padding: 100px;
}

ul.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-top: 20px;
}

.highlight {
    color:pink;
}

.flex.height-fix {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    transition: all 0.5s;
}

.button:hover {
    background-color: white;
    color: pink;
    border: solid pink;
}

.flex {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    bottom: 0;
    left: 0;
    position: absolute;
    background: #1b242f;
    border-bottom: 3px solid #04c2c9;
    height: 50px;
    text-align: left;
    width: 100%;
} 

.a {
    border-bottom: solid black;
}

.progress {
    display: flex;
    height: 1.5rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    position: fixed;
    background: #1b242f;
    border-bottom: 3px solid #04c2c9;
    height: 50px;
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}